// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
  font-size: 11pt;
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
  font-family: 'Montserrat', sans-serif;
  font-size: 9pt;
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

button {
  border-style: none;
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
}

$lightGreen: #a8b58a;
$darkGreen: #636e4a;
$brown: #f5ede2;

//Center object horizontal and vetical
@mixin center {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}


.header{
  background-color: $lightGreen;
  height: 6vh;
}


//menu
.logo1{
 margin-top: -18%;
  margin-left: -25%;

}

.logo2{
  width: 120px;
  margin-left: auto;
  margin-right: auto;

}

.cart1{
  display: none;
}

.cart2{
  left: 0;
  position: absolute;
  margin-right: 10px;
  color: white;
  top: 0;
  margin-top: 8px;
  margin-left: 10px;
  font-size: 20px;
}

.fa-bars{
  font-size: 30px;
}

.dropdown{
  right: 0;
  position: absolute;
  margin-right: 10px;
  top: 0;
  margin-top: 3px;
  color: white;
}
.button{
  font-size: 20px;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  position: absolute;
  right: 0;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.m_webmenu{
  display: none;
}

//menu slut

//forside
.m_voresprodukttx{
 // font-size: 8pt;
  margin: 10px 10px 10px 10px;
}

.m_voresproduktoverskrift{
  text-align: center;
  margin-top: 20px;
 // font-size: 8pt;
}

.m_voresprodukterpic{
  display: flex;
}

.i_product_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 120px;
}

.i_img1 {
  grid-column: 1;
  background: url("../images/background_u.jpg") no-repeat center;
  background-size: contain;
  position: relative;

}

.i_img1:hover {
  background: url("../images/background_vani.jpg") no-repeat center;
  background-size: contain;
}

.i_pro1 {
  background: url("../images/protein.png") no-repeat center;
  background-size: cover;
}

.i_pro1, .i_pro2 {
  position: absolute;
  height: 100px;
  width: 100px;
  @include center;
}

.i_img2 {
 grid-column: 2;
  background: url("../images/background_u.jpg") no-repeat center;
  background-size: contain;
  position: relative;
}

.i_img2:hover {
  background: url("../images/background_choc.jpg") no-repeat center;
  background-size: contain;
}

.i_pro2 {
  background: url("../images/bar.png") no-repeat center;
background-size: cover;
}


.hvorforplanteoverskrift{
text-align: center;
  margin-top: 30px;
  //font-size: 8pt;
}

.hvorforplante{
  display:flex;
  flex-wrap: wrap;
margin-top: 20px;
  text-align: center;
 // font-size: 8pt;
}

.hvorforplante img{
  height: 50px;
  margin-left: auto;
  margin-right: auto;

}
.hvorfor1{
  width: 50%;
}

.hvorfor1tx{
width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;

}

.hvorfor2{
  width: 50%;
}
.hvorfor2tx{
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.hvorfor3{
  margin-top: 30px;
  width: 50%;
}

.hvorfor3tx{
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.hvorfor4{
  width: 50%;
  margin-top: 30px;
}

.hvorfor4tx{
  margin-top: 20px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.blog_pic1 {
  background: url("../images/balls.jpg") no-repeat center;
  background-size: cover;
}

.blog_pic2 {
  background: url("../images/cocos.jpg") no-repeat center;
  background-size: cover;
}

.blog_pic1, .blog_pic2 {
  height: 145px;
  width: 330px;
  @include center;
}

.blogoverskrift{
  text-align: center;
  margin-top: 50px;
  //font-size: 8pt;
}

.blog{
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.blogtx{
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 8px;
  //font-size: 8pt;


}


//forside slut


//produkter

.p_produktoverskrift{
text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}

.p_produkterprotein{
  text-align: center;
  margin-top: 20px;
}

.p_product_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: auto;

}

.p_img1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background: url(../images/protein_u.jpg) no-repeat center;
  background-size: contain;
  height: 100px;

}

.p_img2 {
  background: url("../images/bar_u.jpg") no-repeat center;
  background-size: contain;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100px;

}

.p_img3 {
  background: url("../images/bar_u.jpg") no-repeat center;
  background-size: contain;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  height: 100px;

}

.p_img4 {
  background: url("../images/bar_u.jpg") no-repeat center;
  background-size: contain;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  height: 100px;

}

.p_img1:hover {
  background: url("../images/protein_m.jpg") no-repeat center;
  background-size: contain;
}

.p_img2:hover {
  background: url("../images/bar_m.jpg") no-repeat center;
  background-size: contain;
}

.p_img3:hover {
  background: url("../images/protein_m.jpg") no-repeat center;
  background-size: contain;
}

.p_img4:hover {
  background: url("../images/protein_m.jpg") no-repeat center;
  background-size: contain;
}


.p_protein1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.p_protein2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.p_protein3{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.p_protein4{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

//produkter slut



//blog start

.blog {
  button {
    padding: 5px;
    margin-left: 8px;
    margin-top: 10px;
    background-color: $darkGreen;
    color: white;
  }
}

.blogsideoverskrift{
  //font-size: 8pt;
  text-align: center;
  margin-top: 20px;
}

.blogoverskrifttx{
  //font-size: 8pt;
  text-align: center;
  margin-top: 10px;
  margin-left: 18px;
  margin-right: 18px;
}

.rolldown1{
  display:none;
 // font-size: 8pt;
  margin-right: 8px;
  margin-left: 8px;
}


.rolldown2{
  display:none;
  //font-size: 8pt;
  margin-right: 8px;
  margin-left: 8px;
}

//blog slut


//Kontakt start
.k_kontaktoverskrift{
  text-align: center;
  margin-top: 20px;
}

.k_kontakttx{
  margin-top: 10px;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.k_kontaktinfomation{
  padding-top: 10px;
  padding-bottom: 20px;

}

.k_kontakticon{
  margin-top: 20px;
  text-align: center;
  width: 60%;
  margin-right: auto;
  margin-left: auto;

}

.k_kontakticons1{
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.k_kontakticons2{
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.k_kontakticons3{
  width: 55px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

//kontakt slut

//footer
.m_footer{
  display: block;
  text-align: center;
  background-color: $brown;
  padding: 12px 0 0 0;
  margin: 15px 0 0 0;

}

.f_flex {
  display: flex;
  margin-left: 5%;
}

.m_footertx{
margin-top: 30px;

}

.m_nyhedstx{
  margin-top: 20px;
  margin-bottom: 30px;
}

.m_kontaktfooter, .m_kundeservice{
 // margin-top: 20px;
 // margin-bottom: 20px;
 // grid-column-start: 1;
 // grid-column-end: 2;
  text-align: left;
 // margin-left: auto;
 // margin-right: auto;
}

.m_nyhedsbrev{
  margin-bottom: 20px;

  //grid-column-start: 5;
  //grid-column-end: 6;
}

.vh{
  display: none;
  margin-top: 20px;
  border: 1.5px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.some{
  font-size: 15pt;
}

input{
  width: 200px;
}


.font1{
  margin-right: 30px;
  display: flex;
}

.font2{
  margin-right: 30px;
  display: flex;
}

.font3{
 display: flex;
  margin-right: 30px;
}

.fonticon{
  margin-right: 10px;
}
//footerslut


@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående

  h1, h2, h3, h4, h5, h6 {
    margin: 0; // Ingen ydre margen fra overskrifter
    padding: 0; // Ingen indre margen fra overskrifter
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    font-size: 16pt;
  }

  .dropdown{
    display: none;
  }

  .m_motivationpic img{
    width: 100vw;
  }

  .header{
    background-color: $lightGreen;
    height: 10vh;
  }

  .m_webmenu{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    text-align: center;

  }
  .backgroundpic{
    display: block;
    background: url("../images/artboard_2.jpg") no-repeat;
    background-size: cover;

  }

  .helpbox{
    display: block;
    padding: 7% 8% 7% 8%;
  }

  .shadowbox{
    background-color: white;
    display: block;
    box-shadow: -8px 8px 20px 10px rgba(0,0,0,0.5);

  }


  //Kontakt start
  .k_kontaktoverskrift{
    text-align: center;
    padding-top: 50px;
  }

  .k_kontakttx{
    margin-top: 10px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .k_kontaktinfomation{
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-bottom: 50px;
  }

  .k_kontakticon{
    text-align: center;
    width: 60%;
    margin-right: auto;
    margin-left: auto;

  }

  .k_kontakticons1{
    width: 80px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
  }
  .k_kontakticons2{
    width: 100px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
  }

  .k_kontakticons3{
    width: 55px;
    height: 90px;
     margin-left: auto;
     margin-right: auto;
   }


  //kontakt slut


  .logo2{
    display: none;
  }

  .cart1{
    display: grid;
    grid-column-start: 10;
    grid-column-end: 10;
    position: absolute;
    right: 0;
    margin-top: 20px;
    margin-right: 15px;
    //font-size: 18pt;
    color: white;

  }

  .cart2{
    display: none;
  }

  .logo1{
    grid-column-start: 1;
    grid-column-end: 3;
  }


  .menupunkt1 {
    margin-top: 20px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
   // font-size: 18pt;

  }

.menupunkt1 a{
  text-decoration: none;
  color: white;
}

  .menupunkt2 a{
    text-decoration: none;
    color: white;
  }

  .menupunkt3 a{
    text-decoration: none;
    color: white;
  }

  .menupunkt4 a{
    text-decoration: none;
    color: white;
  }

  .menupunkt2 {
    margin-top: 20px;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    //font-size: 18pt;
  }

  .menupunkt3 {
    margin-top: 20px;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    //font-size: 18pt;
  }

  .menupunkt4 {
    margin-top: 20px;
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    //font-size: 18pt;
  }

  .m_voresproduktoverskrift {
    text-align: center;
    margin-top: 20px;
  }

  .m_voresprodukttx {
    margin: 14px 220px;
  }

  .i_product_grid {
    height: 210px;
  }

  .i_img1 {
    grid-column: 1;
    background: url(../images/background_u.jpg) no-repeat center;
    background-size: contain;
    position: relative;
    margin-left: 25px;
  }

  .i_pro1, .i_pro2 {
    position: absolute;
    height: 200px;
    width: 200px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .hvorforplanteoverskrift {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 30px;
  }

  .hvorforplante {
    display: flex;
    flex-wrap: unset;
    margin: 75px 0;
    text-align: center;
  }

  .hvorfor3 {
    margin-top: 0;
    width: 50%;
  }

  .hvorfor4 {
    width: 50%;
    margin-top: 0;
  }

  .blog_flex1 {
    display: flex;
    margin: 35px 20px;
  }

  .blogtext_flex1 {
    margin-top: 30px;
    margin-left: 15px;
  }

  .blog_flex2 {
    display: flex;
    flex-direction: row-reverse;
    margin: 35px 20px;
  }

  .blogtext_flex2 {
    margin-top: 30px;
  }


  .m_footer{
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    grid-template-rows: auto;
    text-align: center;
    background-color: $brown;

  }

  .m_footertx{
    margin-top: 30px;

  }

  .m_nyhedstx{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .m_kontaktfooter{
    margin-top: 20px;
    margin-bottom: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  .m_kundeservice{
    margin-top: 20px;
    margin-bottom: 20px;
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  .m_nyhedsbrev{
    margin-top: 20px;
    margin-bottom: 20px;
    grid-column-start: 5;
    grid-column-end: 6;
  }

  .vh{
    margin-top: 20px;
    border: 1.5px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .some{
   font-size: 15pt;
  }

  input{
    width: 200px;
  }

  .m_footertx{
    margin-right: 30px;

  }

  .font1{
    margin-right: 30px;
    display: flex;
  }

  .font2{
    margin-right: 30px;
    display: flex;
  }

  .font3{
    display: flex;
    margin-right: 30px;
  }

  .fonticon{
    margin-right: 10px;
  }
  //footer slut
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media print {
  // Alt der gælder for print specifikt
}